C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "IN1/PH" 0 -100 0 0 60 0 L
X "PIN_TEXT" "IN1/PH" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "IN2/EN" 0 -200 0 0 60 0 L
X "PIN_TEXT" "IN2/EN" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "SDO" 0 -300 0 0 60 0 L
X "PIN_TEXT" "SDO" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "NSCS" 0 -400 0 0 60 0 L
X "PIN_TEXT" "NSCS" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SDI" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SDI" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SCLK" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SCLK" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "NSLEEP" 0 -700 0 0 60 0 L
X "PIN_TEXT" "NSLEEP" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 300 -1400 "NWDFLT" 300 -1400 0 0 60 0 L
X "PIN_TEXT" "NWDFLT" 330 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1200 300 -1400 -1 0
C 400 -1400 "NFAULT" 400 -1400 0 0 60 0 L
X "PIN_TEXT" "NFAULT" 430 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1200 400 -1400 -1 0
C 500 -1400 "MODE" 500 -1400 0 0 60 0 L
X "PIN_TEXT" "MODE" 530 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1200 500 -1400 -1 0
C 600 -1400 "DVDD" 600 -1400 0 0 60 0 L
X "PIN_TEXT" "DVDD" 630 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1200 600 -1400 -1 0
C 700 -1400 "GND_2" 700 -1400 0 0 60 0 L
X "PIN_TEXT" "GND_2" 730 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1200 700 -1400 -1 0
C 800 -1400 "AVDD" 800 -1400 0 0 60 0 L
X "PIN_TEXT" "AVDD" 830 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1200 800 -1400 -1 0
C 900 -1400 "VREF" 900 -1400 0 0 60 0 L
X "PIN_TEXT" "VREF" 930 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1200 900 -1400 -1 0
C 1000 -1400 "SO" 1000 -1400 0 0 60 0 L
X "PIN_TEXT" "SO" 1030 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1200 1000 -1400 -1 0
C 1400 0 "GL2" 1400 0 0 0 60 0 R
X "PIN_TEXT" "GL2" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "SL2" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "SL2" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "SN" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "SN" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "SP" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "SP" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "GL1" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "GL1" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "SH1" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "SH1" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "GH1" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "GH1" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
C 1400 -700 "GND_3" 1400 -700 0 0 60 0 R
X "PIN_TEXT" "GND_3" 1170 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -700 1400 -700 -1 0
C 300 1000 "THERMAL_PAD" 300 1000 0 0 60 0 R
X "PIN_TEXT" "THERMAL_PAD" 330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 300 800 300 1000 -1 0
C 400 1000 "NC" 400 1000 0 0 60 0 R
X "PIN_TEXT" "NC" 430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 400 800 400 1000 -1 0
C 500 1000 "CPL" 500 1000 0 0 60 0 R
X "PIN_TEXT" "CPL" 530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 500 800 500 1000 -1 0
C 600 1000 "CPH" 600 1000 0 0 60 0 R
X "PIN_TEXT" "CPH" 630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 600 800 600 1000 -1 0
C 700 1000 "VCP" 700 1000 0 0 60 0 R
X "PIN_TEXT" "VCP" 730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 700 800 700 1000 -1 0
C 800 1000 "VM" 800 1000 0 0 60 0 R
X "PIN_TEXT" "VM" 830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 800 800 800 1000 -1 0
C 900 1000 "VDRAIN" 900 1000 0 0 60 0 R
X "PIN_TEXT" "VDRAIN" 930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 900 800 900 1000 -1 0
C 1000 1000 "GH2" 1000 1000 0 0 60 0 R
X "PIN_TEXT" "GH2" 1030 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 800 1000 1000 -1 0
C 1100 1000 "SH2" 1100 1000 0 0 60 0 R
X "PIN_TEXT" "SH2" 1130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 800 1100 1000 -1 0
L 200 800 1200 800 -1 0
L 1200 -1200 1200 800 -1 0
L 1200 -1200 200 -1200 -1 0
L 200 800 200 -1200 -1 0
P "$LOCATION" "?" 1250 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

